
<!DOCTYPE html>
<html>
    <head>
        <title>Une page HTML vierge</title>

<link rel="stylesheet" href="style.css">
<script type="text/javascript" src="script.js"></script>
        <meta charset="utf-8" />

    </head>
<body>



<div class="container" ng-app="myApp">
  <div class="col-xs-12">
    <div class="row text-center" id="header">
      <h1>Calculez votre moyenne générale!</br></h1>
      <h5>Vous n'avez qu'à entrer vos notes dans les champs dédiés, les notes des modules et la moyenne générale sont calculés automagiquement :)</h5>
    </div>
    <div class="row">
      <table id="outer" ng-controller="myController">
        <!--Header Row-->
        <thead class="table-header">
          <tr>
            <th class="text-center col-xs-2">Module</th>
            <th class="text-center col-xs-2">Matières</th>
            <th class="text-center col-xs-2">Note Matière</th>
            <th class="text-center col-xs-2">Note Module</th>
            <th class="text-center col-xs-2">Coefficient</th>
          </tr>
        </thead>

        <!--Insider rows-->
        <tbody>
          <tr class="mainRow" ng-repeat="mod in Mods">
            <!--Titre module-->
            <td class="nomModule">{{mod.nom}}</td>
            <!--Titres Matières-->
            <td>
              <table>
                <tr ng-repeat="mat in mod.matieres">
                  <td>{{mat.nom}}</td>              
                </tr>
              </table>
            </td>
            <!--Notes Matières-->
            <td>
              <table class="col-xs-12">
                <tr ng-repeat="mat in mod.matieres">
                  <td class="alter">
                    <input class="no-spinners text-center" type="number" min="0" max="20" step="0.01" placeholder="{{mat.note}}" ng-model="mat.note"></input>
                  </td>
                </tr>
              </table>
            </td>
            <!--Moyenne du module-->
            <td class="text-center">{{moyenne(mod)}}</td>
            <!--Coeff Module-->
            <td class="text-center">{{mod.coeff}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-center">Moyenne Générale</td>
            <td colspan="2" class="text-center">{{moyGen(Mods)}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
    
    <!--Info-->
    <div class="row" id="footer">
      <h3>Quelques précisions</h3>
      <p>Ce calcul n'est qu'une estimation en se basant sur les règles suivantes:</p>
      <ul>
        <li>Les moyennes ne sont pas arrondies. Seule l'administration sait si elles seront arrondies vers la borne supérieure ou la borne inférieure.</li>
        <li>Les pénalités d'absence ou bonus d'assiduité ne sont pas appliqués. Seule l'administration connaît leur taux et mode d'application (par matière, par module, ou globalement).</li>
        <li>Tous les modules ont "1" pour coefficient, sauf le module PFE, dont le coefficient vaut "4". Les coefficients n'interviennent que lors du calcul de la moyenne générale.</li>
        <li>La note d'un module = la moyenne de ses notes:
          <ul>
            <li>Note du module = [somme(noteMatière1 ... noteMatièreX)] / [(nombre de matières)]. Si un module ne comporte qu'une matière, alors sa note équivaut à celle de la matière en question.</li>
          </ul>  
        </li>
        <li>La moyenne générale = la moyenne pondérée des modules:
          <ul>
            <li>Moyenne générale = [somme(noteModule1 * coeffModule1 ... noteModuleX * coeffModuleX)] / [somme(coeffModule1 ... coeffModuleX)].</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

</body>

</html>